.navbar-nav{
    display: flex;
      align-items: flex-end;
  }
  
  .bg-navbar {
    background-color: rgba(53, 58, 64, 255);
  }
  .navbar-collapse {
    flex-grow: 0.5 !important;
  }
  
  .tittle-logo {
    margin-top: 5px;
  }
  
  .titulo-nav {
    color: rgba(130, 138, 143, 255) !important;
  }
  
  .menu3 li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.3s ease;
    bottom: 25%;
  }
  .menu3 li:hover::after {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  
  .menu3 li {
    display: block;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  
.button-form {
    color: #fff !important;
    /* padding: 0.5em 1.2em; */
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
  }
  .button-form:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  .button-form:hover:before {
  width: 100%;
  }
  
  .contenedor-conf {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img//hawaii.jpg);
    display: flex;
    justify-content: end;
    height: 35rem;
    background-position: center;
    background-size: cover;
  }
  
  .contenedor-texto-conf {
    width: 40%;
    padding: 3%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
  }
  
  .titulo-conf {
    text-align: end;
    color: white;
  }
  
  .parrrafo-conf {
    text-align: end;
    color: white;
  }
  
  .div-conf {
    display: flex;
    justify-content: end;
  }
  
  .boton-quiero {
    margin-right: 10px;
    padding: 5px;
    border-radius: 7px;
    background: none;
    color: white;
    border: 7px solid white;
  }
  
  .boton-comprar {
    background-color: rgba(43, 167, 70, 255);
    color: white;
    border-radius: 7px;
    border: none;
  }

  
.boton-comprar {
    color: rgba(255, 255, 255, 0.9) !important;
    padding: 0.5em 1.2em;
    position: relative;
  }
  .boton-comprar:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 2px 8px rgba(43, 167, 70, 255);
    transition: all 0.2s ease;
  }
  
  .boton-quiero {
    color: rgba(255, 255, 255, 0.9) !important;
    padding: 0.5em 1.2em;
    position: relative;
  }
  .boton-quiero:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 2px 8px white;
    transition: all 0.2s ease;
  }
  